zig/
dotnet/
cluster_*_replica_*.tigerbeetle
*.log
src/.vs
src/TigerBeetle/obj
src/TigerBeetle/bin
src/TigerBeetle/Native/runtimes/**/*.o
src/TigerBeetle/Native/runtimes/**/*.so
src/TigerBeetle.Benchmarks/obj
src/TigerBeetle.Benchmarks/bin
src/TigerBeetle.Benchmarks/Properties/PublishProfiles
src/TigerBeetle.Tests/obj
src/TigerBeetle.Tests/bin


